<h1>id: <%= @task.id %>　のタスク編集ページ</h1>

<%= form_for(@task) do |f| %>
  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>
  
   <%= f.label :status, 'ステータス' %>
  <%= f.text_field :status %>
  
  <%= f.submit '投稿' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>